<div class="container">
  <input
    type="text"
    [(ngModel)]="searchTerm"
    (input)="searchProducts()"
    placeholder="Search by product name"
  /><br>
  <select [(ngModel)]="sortOrder" (change)="sortProducts()">
    <option value="asc">Price: Low to High</option>
    <option value="desc">Price: High to Low</option>
  </select>
</div>

<div class="card_container">
  <div
    *ngFor="let product of filteredProducts; trackBy: trackById"
    class="card"
    style="width: 24rem"
  >
    <img
      [src]="product.imageUrl || 'default-image.jpg'"
      class="card-img-top"
      alt="Product Image"
    />
    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text">₹{{ product.price }}</p>
      <p class="card-text">{{ product.description }}</p>
      <a
        href="#"
        (click)="addToCart(product, $event)"
        class="btn btn-primary"
        >Add to Cart</a
      >
    </div>
  </div>
</div>
